
.grid{
    display: flex;
    flex-direction: column;
    >.tool{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        div{
            text-align: center;
            label{
                font-weight: 600;
                padding: 1rem;
            }
            select{
                cursor: pointer;
                border: 3px solid black;
            }
            Button{
               background-color: black;
               font-size: 0.7rem;
               svg{
                color: white;
               }
            }

            input{
                cursor: pointer;

                >ul {
                    display: flex;
                    gap: 2rem;
                    justify-content: center;
                    list-style: none;
                    margin: 5rem 0rem;
                    padding-top: 2.5rem;

                    >li {
                        >a {
                            text-decoration: none;
                            background-color: rgb(46, 45, 45);
                            padding: 1rem;
                            color: white;
                            transition: all 0.5s linear;
                            font-weight: 600;
                            font-size: 1.2rem;

                            &:hover {
                                background-color: #551A8B;
                            }
                        }
                    }
                }
            }
        }
    }
}





