.homenav {
    display: flex;
    justify-content: space-between;
    padding: 1rem  5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


    .logo {
        width: 170px;

        img {
            width: 100%;
        }
    }

    .navbar {
        padding-top: 1rem;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.4rem;

            li {
                list-style: none;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    color: #77b53b;
                }

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: #77b53b;
                    }
                }

                //SERVICES
                >.right-menu {
                 
                    &:hover {
                        >.dropdown-menu {
                            display: block;
                        }
                    }

                    //FIRST DROPDOWN
                    >.menu-button {
                        border: none;
                        background-color: transparent;

                        >a {
                            display: flex;
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            transition: all 0.2s ease-in;
                            font-size: 15px;

                            &:hover {
                                color: #77b53b;
                            }

                            >svg {
                                padding-bottom: 5px;
                            }
                        }
                    }

                    >.dropdown-menu {
                        border-radius: 5px  !important;
                        display: none;
                        position: absolute;
                        left: 70%;
                        z-index: 1;
                        border-radius: 0;
                        padding: 0.5rem !important;
                        box-shadow: 4px 5px 10px -5px black;

                        >.grid-container {
                            
                            //SECOND DROPDOWN
                            .grid-item {
                               padding: 0.3rem;
                                text-align: center;
                                border-bottom: 1px solid #73738c;
                                font-weight: 200;
                                cursor: pointer;
                                color: #73738c;

                                &:hover {
                                    >.dropdown-submenu {
                                        display: block;
                                    }
                                }

                                >.submenu-button {
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                    font-weight: 600;
                                    font-size: 13px;
                                    letter-spacing: 2px;
                                    text-align: center;

                                    >a {
                                        display: flex;
                                        text-decoration: none;
                                        font-family: 'Roboto', sans-serif;
                                        color: rgb(117, 115, 115);
                                        transition: all 0.2s ease-in;
                                        font-weight: 500;

                                        &:hover {
                                            color: #77b53b;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}