@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.learner-box {
  min-height: 100vh;
  background-color: #f3f3f9;

  .navigation {
    display: flex;
    align-items: center;
    padding: 0.1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;

    a {
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
      font-weight: 500;
    }

    p {
      text-align: center;
      margin-top: 1rem;
      font-size: 0.8rem;
      font-weight: 450;
    }
  }

  .learner-list-box {
    margin: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    .modal-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      border-bottom: 1px solid rgb(230, 230, 230);
      font-family: 'Poppins', sans-serif;

      button {
        font-size: 0.7rem;
        background-color: #0ab39c;
        color: white;

        &:hover {
          background-color: #078c7a;
        }
      }

      svg {
        font-size: 0.7rem;
        color: white;
      }
    }

  }


}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;


  .modal-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    width: 90vw;
    height: 90vh;
    position: relative;
    background-color: #f3f3f9;


    .create-detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 5rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

      p {
        padding-top: 1rem;
        width: 10rem;
        font-size: 1.1rem;
      }

      button {
        background-color: transparent;
        color: black;

        &:hover {
          background-color: transparent;
        }
      }

    }

    .instructor-form{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 4rem;
      margin-top: 0.5rem;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

      .formbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          padding-left: 1rem;
          font-size: 0.8rem;
        }

        input {
          width: 100%;
          font-size: 0.7rem;
          padding: 0.5rem;
          border-radius: 15px;
          border: 1px solid rgb(228, 228, 228);
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }



        select {
          width: 100%;
          font-size: 0.7rem;
          padding: 0.5rem;
          border-radius: 15px;
          border: 1px solid rgb(228, 228, 228);

          option {
            border-radius: none !important;
            padding: 2rem;
          }
        }
      }

      .submitbtn{
        button{
          font-size: 0.7rem;
          border-radius: 5px;
          cursor: pointer;
          background-color: #0ab39c;
          color: white;
          border: none;
          padding: 0.3rem 0.7rem;

          &:hover {
            background-color: #078c7a;
          }

        }

        svg{
          font-size: 1rem;
        }
      }

    }

    .closequestionicon {
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem 2rem 0.5rem 0;
      width: 100%;
    }

  }
}