@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
.astudentpanel {
    display: flex;
    width: 100%;

    .navigation {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        display: flex;
        align-items: center;
        padding: 1rem;

        .titlenavigate {
            font-size: 0.8rem;
        }
    }

    .studentpage {
        position: relative;
        min-height: 100vh;

        .studentdescription {
            position: absolute;
            width: 100%;
            height: 300px;
            background: #405189;
            z-index: 2;

            &::before {
                content: "";
                background-image: url("/profile-bg.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0.08;
            }
        }

        .info {
            display: flex;
            gap: 2rem;
            padding: 0 !important;
            align-items: center;
            margin-left: 2rem;


            svg {


                color: white;
                font-size: 5rem;
            }

            .name {

                h5 {
                    color: white;
                }

                p {
                    color: rgb(202, 202, 202);
                }
            }


        }

        .studentnavbar {
            .react-tabs {
                .tabpanel {
                    margin: 2rem;

                    .tabbar {
                        background-color: white;
                        width: 100%;

                        div {
                            table {
                                tbody {
                                    tr {
                                        td {


                                            a {
                                                font-size: 0.61rem;
                                                color: #405189;
                                                text-decoration: none;

                                                &:hover {
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .details {
            z-index: 999;
            width: 100%;
            position: absolute;
            top: 30%;

            .infodetail {
                margin: 1rem;
                background-color: white;
            }
        }
    }
}

.instructorpanel{
    width: 100%;

    img{
        background-color: rgb(241, 241, 241);
        object-fit: contain;
        width: 100%;
        height: 300px;
        padding: 0.3rem;
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3rem;
        font-family: 'Belanosima', sans-serif;

        h2{
            font-size: 3rem;
            text-decoration: underline;
        }
    }
}
.react-tabs__tab--selected {
    background-color: #ffffff1a !important;
    border: none !important;
}

.react-tabs__tab-list {
    border: none !important;
}